@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	background-color:#d3d3d3;
}

h1 {
	color:blue
	style="text-align:center";
	font-family: 'Open Sans', sans-serif;
}

#slogan{
	font-style: italic;
}
